body{
  font-family: sans-serif;
  font-weight: 100;
  position: fixed;
   /* overflow-y: hidden; */
   /* overflow-x: hidden; */
   width: 100%;

   font-family: 'Raleway', sans-serif;
}
h1{
  font-weight: 100;
  font-size: 80px;
  margin: 40px 0px 20px;
}

/* For Mobiles */
@media screen and (max-width: 780px) {
  .clockContain{
    /* height: 12rem; */
    height: 50vh;
  }
  #clockText{
    margin-top:10vh;
    text-align:center;
  }
  #clockText h2{
    font-weight: 200;
    font-size: 3rem;
    /* margin-left: 1rem;
    margin-bottom: 16px;
    margin-top: -1.2rem; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* padding-top:2rem; */
    }

  #clockText h3{
    font-weight: 100;
    font-size: 2rem;
    /* margin-left: 1rem; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  #clockdiv{
     font-family: sans-serif;
     color: black;
     /* display: inline-block; */
     font-weight: 100;
     text-align: center;
     background: rgba(255, 255, 255, 0.2);
     font-size: 3rem;
     /* position: absolute;
     bottom: 0rem;
     right: -2rem;
     overflow: visible; */
     width: 100%;
     height:100%;
 }

 #dayBox {
   text-align: center;
   background-color: #000000!important;
   color: #ffffff!important;
   /* margin-left: -25px;
   margin-right: -12px; */
   width: 50%;
   padding:5%;
   height: 50%;
   float: left;
 }

 #hourBox {
   text-align: center;
     background-color: #ffae42!important;
   color: #000000!important;
   width: 50%;
   height: 50%;
   float: left;
   padding:5%;
 }
 #minuteBox {
   text-align: center;
   background-color: #000000!important;
   color: #ffffff!important;
   width: 50%;
   height: 50%;
   float: left;
   padding:5%;
 }

 #secondBox {
   text-align: center;
     background-color: #ffae42!important;
   color: #000000!important;
   width: 50%;
   height: 50%;
   float: left;
   padding:5%;
 }
#one{
  padding:0 !important;
}
.timeNo{
  font-size: 6rem;
}
.smalltext{
  font-size: 2.5rem;
}

.tagline{
  text-align: center;
  font-family: Montserrat;
}
#logo {
  /* height: 100px; */
  margin-left:4%;
  float: left;
  height: 6em;
  /* margin-top: 1em; */
}

}
/* For Tablets */
/* @media screen and (min-width: 560px) and (max-width: 780px) {
  .clockContain{
    height: 33rem;
    padding-top: 7rem;
    width: 48rem;
    margin-left: 0rem;
  }
  #clockText{
    border-left: solid 3px orange;
  }

  #clockText h2{
    font-weight: 100;
    font-size: 4rem;
    margin-left: 2rem;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    }

  #clockText h3{
    font-weight: 100;
    font-size: 3rem;
    margin-left: 3rem;
    font-family: 'Raleway', sans-serif;
  }
  #clockdiv{
     font-family: sans-serif;
     color: black;
     display: inline-block;
     font-weight: 100;
     text-align: center;
     background: rgba(255, 255, 255, 0.2);
     font-size: 3rem;
 }
} */
/* For Tablets */


/* ================================================================================================ */

/* For Tablets */

/* #clockText{
  width:100% !important;
}
@media screen and (min-width: 560px) and (max-width: 780px) {
  .clockContain{
    height: auto;
    padding-top: 1rem;
    width: 53%;
  }


  #clockText{
    border-left: solid 10px orange;
  }
  #clockText h2{
    font-weight: 100;
    font-size: 5rem;
    margin-left: 3rem;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    }

  #clockText h3{
    font-weight: 100;
    font-size: 3rem;
    margin-left: 3rem;
    font-family: 'Raleway', sans-serif;
  }

  #clockdiv{
     font-family: sans-serif;
     color: black;
     display: inline-block;
     font-weight: 100;
     text-align: center;
     background: rgba(255, 255, 255, 0.2);
     font-size: 3rem;
     width: 51%;
     position: absolute;
     right: -3rem;
     bottom: 0rem;
     max-height: 32rem;
 }
 #dayBox {
   text-align: center;
   background-color: #fc9003!important;
   color: #ffffff!important;
   margin-left: -25px;
   margin-right: -15px;
   width: 50%;
   height: 100%;
   padding-top: 6.8rem;
   padding-left: 6rem;
   padding-right: 2rem;
   padding-bottom: 0rem;
 }

 #hourBox {
   text-align: center;
     background-color: #fc9003!important;
   color: #000000!important;
   width: 50%;
   height: 100%;
   padding-top: 6.8rem;
   padding-left: 2rem;
   padding-right: 6rem;
   padding-bottom: 0rem;
 }
 #minuteBox {
   text-align: center;
   background-color: #fc9003!important;
   color: #ffffff!important;
   margin-left: -25px;
   margin-right: -15px;
   width: 50%;
   height: 100%;

   padding-top: 0rem;
   padding-left: 6rem;
   padding-right: 2rem;
   padding-bottom: 6.2rem;
 }

 #secondBox {
   text-align: center;
     background-color: #fc9003!important;
   color: #000000!important;
   width: 50%;
   height: 100%;

   padding-top: 0rem;
   padding-left: 2rem;
   padding-right: 6rem;
   padding-bottom: 6.20rem;
 }

 .timeNo{
   font-size: 4rem;
font-family: 'Montserrat', sans-serif;
 }
 .smalltext{
   font-size: 3rem;
font-family: 'Montserrat', sans-serif;
 }


 #logo {
   height: 75%;
   margin: auto;
   float: left;
   height: 4rem;
   margin-top: 2rem;
 }

} */

/* ========================================================================================================= */

/* For Laptops */
@media screen and (min-width: 780px) {
  .clockContain{
    /* height: auto; */
    /* padding-top: 1rem; */
    /* width: 53%; */
  }

  .logoContain{
    text-align: center;
  }

  #clockText{
    margin-top: 9vh;
    margin-left:5%;
    border-left: solid 10px #ffae42;
  }
  #clockText h2{
    font-weight: 100;
    font-size: 5rem;
    margin-left: 3rem;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    }

  #clockText h3{
    font-weight: 100;
    font-size: 3rem;
    margin-left: 3rem;
    font-family: 'Raleway', sans-serif;
  }

  #clockdiv{
    width: 50%;
    /* height: 42.4%; */
    height:100%;
    background-color: black;
    color: white;
    float: left;
    padding: 5%;
    
   background-color: #ffae42!important;
    /* position: absolute; */
    /* left: -0.5rem; */
    /* bottom: 0rem; */
    text-align: center;
    font-size: 3rem!important;
    /* max-height: 29rem; */
 }
 #dayBox {
   text-align: center;
   background-color: #ffae42!important;
   color: #ffffff!important;
   /* margin-left: -25px;
   margin-right: -15px; */
   float: left;
   width: 50%;
   height: 50%;
   padding-top: 1%;
   /* padding-left: 11rem;
   padding-right: 0rem;
   padding-bottom: 0rem; */
 }

 #hourBox {
   text-align: center;
     background-color: #ffae42!important;
   color: #000000!important;
   width: 50%;
   height: 50%;
   float:left;
   
   padding-top: 1%;
   /* padding-top: 6.8rem;
   padding-left: 0rem;
   padding-right: 14rem;
   padding-bottom: 0rem; */
 }
 #minuteBox {
   text-align: center;
   background-color: #ffae42!important;
   color: #ffffff!important;
   /* margin-left: -25px;
   margin-right: -15px; */
   width: 50%;
   height: 50%;
  float: left;
  
  padding-top: 1%;
   /* padding-top: 0rem;
   padding-left: 11rem;
   padding-right: 0rem;
   padding-bottom: 6.2rem; */
 }

 #secondBox {
   text-align: center;
     background-color: #ffae42!important;
   color: #000000!important;
   width: 50%;
   height: 50%;
   float:left;
   
   padding-top: 1%;
   /* padding-top: 0rem;
   padding-left: 0rem;
   padding-right: 14rem;
   padding-bottom: 6.20rem; */
 }

 .timeNo{
   font-size: 6.5rem;
   font-weight: bold;
font-family: 'Montserrat', sans-serif;
 }
 .smalltext{
   font-weight: bold;
   font-size: 3rem;
font-family: 'Montserrat', sans-serif;
 }


 #logo {
   /* height: 100px; */
   /* margin-left:8%; */
   float: left;
   height: 6em;
   /* margin-top: 1em; */
 }
 .tagline{
   margin-left:5%;
   font-family: Montserrat;

 }
}

/* .timerTag{
  color: orange;
  font-size: 20px;
  padding-top: 7rem;
  margin-bottom: 8rem;
}


#clockdiv > div{
    border-radius: 3px;
    display: inline-block;
} */
/* #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #fc9003!important
    display: inline-block;
} */

/* .faq{
  background: rgba(3, 3, 3, 0);
  margin-bottom: 6rem;
}

#faqTitle{
  color: orange;
  text-align: center;
  margin-bottom: 3rem;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
}

button:focus{
    background:rgba(184,184,184,1);
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
}

.accordion:active{
  background: gray;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.panel:active{
  display: block;
}

.panel:focus{
  display: block;
} */

/* .accordion:after {
  content: '\02795';
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
  background-color: rgba(255, 255, 255, 0)
} */

/* For Mobiles */
@media screen and (max-width: 560px) {
  .socialIcons{
    position: absolute;
    bottom: 35rem;
    right: 1rem;
    overflow: visible;

  }
  .socialIcons a img{
    max-Height: 2rem;
  }
}


/* For Tablets */
@media screen and (min-width: 560px) {
  .socialIcons{
    position: absolute;
    bottom: 34rem;
    right: 2rem;
    overflow: visible;

  }

  .socialIcons a img{
    max-Height: 3.5rem;
  }
}

/*For Mobiles*/
@media screen and (max-width: 780px){
  .domains{
    display: none;
  }
}
/*ForTablets*/
/* @media screen and (min-width: 560px) and (max-width: 780px){
  .domains{
    width: 53%;
    height: 31.3%;
    background-color: black;
    color: white;
    position: absolute;
    left: -0.5rem;
    bottom: 0rem;
    text-align: center;
    font-size: 3rem!important;
  }

  .row .domSpc{
    float:left;
  }

  .domSpc{
    height: 15.2rem!important;
 font-family: 'Montserrat', sans-serif;
  }

  .domSpc h1{
    margin-top: 0rem;

    font-size: 2rem!important;
  }

  .domImg{
    height: 8rem;
    padding: 2rem;
  }

  #design{
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 5rem;
    width: fit-content;
  }

    #technical{
      padding-top: 5rem;
      padding-left: 4rem;
      padding-right: 5rem;
      width: fit-content;
    }
      #management{
        padding-bottom: 1rem;
        padding-left: 7rem;
        width: fit-content;
      }
        #documentation{
          padding-bottom: 1rem;
          padding-right: 0rem;
          width: fit-content;
        }
} */

/*For Laptops*/
@media screen and (min-width: 780px){
  .domains{
    
  /* background-image: url("../images/grid1.png"); */
    width: 50%;
    /* height: 42.4%; */
    height:100%;
    background-color: black;
    color: white;
    float: left;
    /* position: absolute; */
    /* left: -0.5rem; */
    /* bottom: 0rem; */
    text-align: center;
    font-size: 3rem!important;
    /* max-height: 29rem; */
    padding: 5%;
  }

  .domains .row{
    height:50% !important;
    padding: 0 !important;
    padding-top: 3% !important;
    margin:0 !important;
  }
 
  .domSpc{
    /* height: 15.2rem!important; */
    height: 50% !important;
 font-family: 'Montserrat', sans-serif;
 
  }
  /* .center{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  } */

  .domSpc h1{
    margin-top: 0rem;

    font-size: 2.75rem!important;
  }

  .domImg{
    height: 8rem;
    padding: 2rem;
  }

  /* #design{
    padding-top: 6rem;
    padding-left: 10rem;
  }

    #technical{
      padding-top: 6rem;
      padding-right: 10rem;
    }
      #management{
        padding-bottom: 1rem;
        padding-left: 10rem;
      }
        #documentation{
          padding-bottom: 1rem;
          padding-right: 10rem;
        } */
}



#one{
  width: 100% !important;
  height:50vh;
  padding-left:20px;
}
#two{
  width: 100% !important;
  height:50vh;
}
.clockContain{
  background: #000000;
  width: 100%;
  /* padding-left:5%; */
  /* padding-right:5%; */
  height:100%;
  
  /* display: inline-block; */
}
.container{
  margin: 0px !important;
  padding: 0px !important;
}
/* section{
  margin:auto;
  width:100% !important;
} */


@media(max-width:992px){
  .domSpc h1{
    margin-top: .5rem;
    font-size: 2.3rem!important;
  }

  .domains .row{
    padding-top:0 !important;
  }

  .domImg{
    height: 4.5rem;
    padding: .5rem;
  }
}

@media(max-width:560px){
  #logo {
    /* height: 100px; */
    /* margin-left:8%; */
    /* float: left; */
    height: 4em;
    margin-top: .45em;
  }
}

@media(max-width:345px){
  
  #clockText h2{
    font-weight: 200;
    font-size: 2.5rem;
    /* margin-left: 1rem;
    margin-bottom: 16px;
    margin-top: -1.2rem; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* padding-top:2rem; */
    }

}
@media(max-height:770px){
  #dayBox{
    padding-top:8%;
  }
  #hourBox{
    padding-top:8%;
  }
}